Flask==2.3.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
gunicorn==23.0.0
gevent==24.2.1
gevent-websocket==0.10.1
python-engineio==4.12.2
python-socketio==5.9.0
bidict==0.23.1
SQLAlchemy==2.0.36
Werkzeug==2.3.7
